# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea._Scripts.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Chris\Documents\Projects\Interdimensional Lost and Found\Assets\_Scripts\.idea\.idea._Scripts.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
